@import './dashboard.scss';
::v-deep .db-box{
  &:not(:last-child){
    margin-bottom: 8*$vw;
  }
  .db-box__content{
    padding-top: 8*$vw;
    padding-bottom: 8*$vw;
  }
}
.ranks{
  ul{
    display: flex;
    margin-right: -12*$vw;
  }
  li{
    flex: 1 1 0;
    display: block;
    margin-right: 12*$vw;
  }
  .info-x{
    @include borders-card(1px,6*$vw,#00d7e9,$border-color:transparent);
    display: flex;
    align-items: center;
    margin-bottom: 16*$vw;
    padding: 8*$vw;
    padding-left: 16*$vw;
    .db-icon{
      font-size: 46*$vw;
    }
    span{
      font-size: 14*$vw;
      text-align: center;
      white-space: nowrap;
    }
    b{
      display: block;
      font-weight: normal;
      font-size: 26*$vw;
      color: $db-primary-color;
    }
  }
  .item-blue{
    .db-icon{
      @include linear-text(#00faff,#007fff,to right);
    }
    ::v-deep .db-rank__bar__thumb{
      background: linear-gradient(to right,#0163eb,#28c3fa);
    }
  }
  .item-orange{
    .db-icon{
      @include linear-text(#fc6104,#f8a911,to right);
    }
    ::v-deep .db-rank__bar__thumb{
      background: linear-gradient(to right,#fc6104,#f8a911);
    }
  }
  .item-green{
    .db-icon{
      @include linear-text(#04fc38,#11f8c4,to right);
    }
    ::v-deep .db-rank__bar__thumb{
      background: linear-gradient(to right,#11f8c4,#04fc38);
    }
  }
}
.accident-list{
  li{
    display: flex;
    height: 48*$vw;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.25;
    &:not(:first-child){
      margin-top: 4*$vw;
    }
  }
  .time{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    i{
      font-size: 14*$vw;
    }
    &::after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #e87402;
      transform: skewX(-20deg);
      transform-origin: top right;
      pointer-events: none;
      box-shadow: 0 0 10*$vw #ff5033 inset;
      opacity: .8;
    }
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
      background: linear-gradient(to right,#007aff,fade-out(#007aff,1));
      opacity: .8;
    }
    span{
      z-index: 1;
      position: relative;
      display: block;
      padding: 0 10*$vw;
      margin-right: 10*$vw;
      i{
        display: block;
        font-style: normal;
      }
    }
  }
  .content{
    position: relative;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    margin-left: -14*$vw;
    padding: 0 16*$vw;
    padding-left: 30*$vw;
    font-size: 14*$vw;
    p{
      flex: 1 1 0;
    }
    .right-x{
      position: relative;
      white-space: nowrap;
      text-align: right;
    }
    .accident-type{
      color: $db-primary-color;
    }
    .data{
      font-size: 14*$vw;
      &>span{
        margin-left: 16*$vw;
      }
    }
    .orange{
      color: #ff854d;
    }
    .red{
      color: #f00;
    }
    &::before{
      content: "";
      position: absolute;
      left: 0;
      right: -30*$vw;
      top: 0;
      bottom: 0;
      background: #007aff;
      transform: skewX(-20deg);
      transform-origin: bottom left;
      pointer-events: none;
      opacity: .3;
    }
  }
}
.area-ranks-wrap{
  display: flex;
  align-items: center;
  .ent-info{
    margin-right: 8*$vw;
    text-align: center;
    white-space: nowrap;
    b{
      display: block;
      font-size: 28*$vw;
      font-weight: normal;
      color: $db-primary-color;
    }
    span{
      display: block;
    }
  }
  .ico-x{
    margin-top: -8*$vw;
    img{
      display: block;
      width: 120*$vw;
    }
  }
  .area-ranks{
    flex: 1 1 0;
  }
  ::v-deep{
    .db-rank__item{
      height: 20*$vw;
      overflow: hidden;
    }
    .index{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #e87402;
        transform: skewX(-20deg);
        transform-origin: top right;
        pointer-events: none;
        box-shadow: 0 0 10*$vw #ff5033 inset;
        opacity: .8;
      }
      &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background: linear-gradient(to right,#007aff,fade-out(#007aff,1));
        opacity: .8;
      }
      span{
        z-index: 1;
        position: relative;
        display: block;
        font-size: 14*$vw;
        padding: 0 10*$vw;
        margin-right: 4*$vw;
        i{
          display: block;
          font-style: normal;
        }
      }
    }
    .db-rank__item:nth-child(n+3){
      .index{
        &::after{
          background: #0b81ce;
          box-shadow: none;
        }
      }
    }
    .db-rank__bar{
      height: 16*$vw;
      background: none;
    }
    .db-rank__item__content{
      position: relative;
      margin-left: -4*$vw;
      padding: 0 2*$vw;
      padding-left: 16*$vw;
      border-radius: 0 4*$vw 4*$vw 0;
      overflow: hidden;
      &::before{
        content: "";
        position: absolute;
        left: 0;
        right: -30*$vw;
        top: 0;
        bottom: 0;
        background: #189bf4;
        transform: skewX(-20deg);
        transform-origin: bottom left;
        pointer-events: none;
        opacity: .2;
      }
    }
  }
}
