@import './dashboard.scss';
.sta-box{
  ul{
    display: flex;
    align-items: flex-start;
  }
  li{
    flex: 1 1 0;
    display: block;
    padding: 0 10*$vw;
    white-space: nowrap;
    text-align: center;
  }
  b{
    padding: 6*$vw 0;
    font-size: 34*$vw;
    color: $db-primary-color;
    font-weight: bold;
  }
  span{
    display: block;
    font-size: 16*$vw;
  }
}
.map-x{
  flex: 1 1 0;
  position: relative;
  &>.canvas-wrap{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
.map-info-x{
  position: absolute;
  right: 0;
  width: 370*$vw;
  bottom: 16*$vw;
  padding: 16*$vw;
  border-radius: 10*$vw;
  border: solid 1px fade-out(#fff,0.4);
  background: linear-gradient(to bottom,fade-out(#001672,0.4),fade-out(#000e3e,0.4));
  overflow: hidden;
  ::v-deep .el-slider{
    .el-slider__runway{
      margin: 0;
      background: #597fba;
    }
  }
}
.sta-info{
  display: flex;
  flex-wrap: wrap;
  .sta-info__line{
    box-sizing: border-box;
    margin-top: 6*$vw;
    padding-right: 0.5em;
    min-width: 50%;
  }
}
.map-info-x__tit{
  display: flex;
  align-items: center;
  margin: -16*$vw;
  padding: 10*$vw 16*$vw;
  margin-bottom: 8*$vw;
  background: inherit;
  border-bottom: solid 1px fade-out(#fff,0.4);
  &>span{
    flex: 1 1 0;
    font-size: 18*$vw;
  }
}
.sta-cards{
  @mixin tint($s-color:#f8a911,$e-color:#fc6104){
    b{
      color: $s-color;
    }
    .db-icon{
      @include linear-text($s-color,$e-color,to right);
    }
    &::before{
      background: linear-gradient(to bottom,$s-color,$e-color);
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16*$vw;
  }
  li{
    display: flex;
    align-items: center;
    position: relative;
    padding: 16*$vw;
    padding-left: 32*$vw;
    margin-right: 16*$vw;
    width: calc(50% - #{16*$vw});
    font-size: 14*$vw;
    background: fade-out(#0087ff,0.85);
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 6*$vw;
    }
    &.item-orange{
      @include tint();
    }
    &.item-blue{
      @include tint(#00f8ff,#007cff);
    }
  }
  b{
    display: block;
    font-size: 26*$vw;
  }
  .db-icon{
    margin-right: 16*$vw;
    font-size: 44*$vw;
  }
}
.s-cols{
  display: flex;
  height: 100%;
  .s-col{
    flex: 1 1 0;
  }
}