@font-face {
  font-family: c-icon-font;
  src: url('icon.ttf');
}
[class*='cus-icon-']::before{
  font-family: c-icon-font;
}
.cus-icon-arrow-up::before{
  content: "\e902";
}
.cus-icon-arrow-down::before{
  content: "\e903";
}
.cus-icon-arrow-up-solid::before{
  content: "\e921";
}
.cus-icon-arrow-down-solid::before{
  content: "\e920";
}
.cus-icon-location::before{
  content: "\e90a";
}
.cus-icon-download::before{
  content: "\e911";
}
.cus-icon-close::before{
  content: "\e922";
}
.cus-icon-warn::before{
  content: "\e923";
}
.cus-icon-brush::before{
  content: "\e924";
}


.cus-icon-refresh::before{
  content: "\e912";
}

.cus-icon-correct::before{
  content: "\e913";
}

.cus-icon-export::before{
  content: "\e914";
}
.cus-icon-import::before{
  content: "\e915";
}
.cus-icon-add::before{
  content: "\e916";
}
.cus-icon-more::before{
  content: "\e917";
}
.cus-icon-query::before{
  content: "\e918";
}
.cus-icon-edit::before{
  content: "\e919";
}

/* 导航菜单 */
.cus-icon-index::before{
  content: "\e925";
}
/* 设备管理 */
.cus-icon-shebeiguanli::before{
  content: "\e926";
}
/* 设备接入 */
.cus-icon-shebeijieru::before{
  content: "\e927";
}
/* 通知管理 */
.cus-icon-tongzhiguanli::before{
  content: "\e928";
}
/* 监控运维 */
.cus-icon-jiankongyunwei::before{
  content: "\e929";
}
/* 巡检管理 */
.cus-icon-xunjianguanli::before{
  content: "\e92a";
}
/* 平台预警 */
.cus-icon-pingtaiyujing::before{
  content: "\e92b";
}
/* 故障管理 */
.cus-icon-guzhangguanli::before{
  content: "\e92c";
}
/* 视频网关 */
.cus-icon-shipinwangguan::before{
  content: "\e92d";
}
/* 统计分析 */
.cus-icon-tongjifenxi::before{
  content: "\e92e";
}
/* 规则引擎 */
.cus-icon-guizeyinqing::before{
  content: "\e92f";
}
/* 导航菜单 end */