@font-face {
  font-family: c-icon-font;
  src: url('icon.ttf');
}

[class*='cus-icon-']::before {
  font-family: c-icon-font, Sans-serif;
}

.cus-icon-arrow-up::before {
  content: "\e902";
}

.cus-icon-arrow-down::before {
  content: "\e903";
}

.cus-icon-arrow-up-solid::before {
  content: "\e921";
}

.cus-icon-arrow-down-solid::before {
  content: "\e920";
}

.cus-icon-location::before {
  content: "\e90a";
}

.cus-icon-download::before {
  content: "\e911";
}

.cus-icon-close::before {
  content: "\e922";
}

.cus-icon-warn::before {
  content: "\e923";
}

.cus-icon-brush::before {
  content: "\e924";
}


.cus-icon-refresh::before {
  content: "\e912";
}

.cus-icon-correct::before {
  content: "\e913";
}

.cus-icon-export::before {
  content: "\e914";
}

.cus-icon-import::before {
  content: "\e915";
}

.cus-icon-add::before {
  content: "\e916";
}

.cus-icon-more::before {
  content: "\e917";
}

.cus-icon-query::before {
  content: "\e918";
}

.cus-icon-edit::before {
  content: "\e919";
}

.cus-icon-user::before {
  content: "\e930";
}

.cus-icon-pwd::before {
  content: "\e931";
}

.cus-icon-eye::before {
  content: "\e932";
}

.cus-icon-eye-close::before {
  content: "\e933";
}

/* 导航菜单 */
.cus-icon-index::before {
  content: "\e925";
}

/* 设备管理 */
.cus-icon-shebeiguanli::before {
  content: "\e926";
}

/* 设备接入 */
.cus-icon-shebeijieru::before {
  content: "\e927";
}

/* 通知管理 */
.cus-icon-tongzhiguanli::before {
  content: "\e928";
}

/* 监控运维 */
.cus-icon-jiankongyunwei::before {
  content: "\e929";
}

/* 巡检管理 */
.cus-icon-xunjianguanli::before {
  content: "\e92a";
}

/* 平台预警 */
.cus-icon-pingtaiyujing::before {
  content: "\e92b";
}

/* 故障管理 */
.cus-icon-guzhangguanli::before {
  content: "\e92c";
}

/* 视频网关 */
.cus-icon-shipinwangguan::before {
  content: "\e92d";
}

/* 统计分析 */
.cus-icon-tongjifenxi::before {
  content: "\e92e";
}

/* 规则引擎 */
.cus-icon-guizeyinqing::before {
  content: "\e92f";
}

/* 导航菜单 end */


/* 工作台 */
.cus-icon-gzt::before {
  content: "\e934";
}

/* 事件审核 */
.cus-icon-sjsh::before {
  content: "\e935";
}

/* 算法管理 */
.cus-icon-sfgl::before {
  content: "\e936";
}

/* 摄像头管理 */
.cus-icon-sxtgl::before {
  content: "\e937";
}

/* 任务作业管理 */
.cus-icon-rwzygl::before {
  content: "\e938";
}

/* 规则配置管理 */
.cus-icon-gzpzgl::before {
  content: "\e939";
}

/* 边缘计算管理 */
.cus-icon-byjsgl::before {
  content: "\e93a";
}

/* 系统管理 */
.cus-icon-xtgl::before {
  content: "\e93b";
}
