@font-face {
  font-family: cs-icon-font;
  src: url('cs-icon.ttf');
}
[class*='cs-icon-']::before{
  font-family: cs-icon-font;
  font-size: inherit;
  color: inherit;
}

.cs-icon-letter::before{
  content:'\e934';
}
.cs-icon-dclrw::before{
  content:'\e935';
}
.cs-icon-sjbjs::before{
  content:'\e936';
}
.cs-icon-wdfxy::before{
  content:'\e937';
}
.cs-icon-wdyh::before{
  content:'\e938';
}
.cs-icon-wdjc::before{
  content:'\e939';
}
.cs-icon-wdzy::before{
  content:'\e93a';
}
.cs-icon-pxks::before{
  content:'\e93b';
}
.cs-icon-wdrw::before{
  content:'\e93c';
}
.cs-icon-sbgl::before{
  content:'\e93d';
}
.cs-icon-bjsj::before{
  content:'\e93e';
}
.cs-icon-spzs::before{
  content:'\e93f';
}
.cs-icon-yhgl::before{
  content:'\e940';
}
.cs-icon-fxqd::before{
  content:'\e941';
}
.cs-icon-zyxk::before{
  content:'\e942';
}
.cs-icon-flag::before{
  content:'\e943';
}
.cs-icon-yjzj::before{
  content:'\e944';
}
.cs-icon-zyws::before{
  content:'\e945';
}
.cs-icon-hyaq::before{
  content:'\e946';
}
.cs-icon-aqsc::before{
  content:'\e947';
}
.cs-icon-qyfx::before{
  content:'\e948';
}
.cs-icon-qyyh::before{
  content:'\e949';
}
.cs-icon-bjsjzs::before{
  content:'\e94a';
}
.cs-icon-yjgltj::before{
  content:'\e94b';
}
.cs-icon-arrowup::before{
  content:'\e94c';
}
.cs-icon-arrowdown::before{
  content:'\e94d';
}
.cs-icon-rdbaq::before{
  content:'\e94e';
}
.cs-icon-wdbaq::before{
  content:'\e94f';
}
.cs-icon-man::before{
  content:'\e950';
}
.cs-icon-rili::before{
  content:'\e951';
}
.cs-icon-add::before{
  content:'\e952';
}
