$img-url: '/img/ybd-dashboard/';
$vw: 100vw/1920;
$db-inner-gap: 20*$vw;
$db-inner-gap-s: 16*$vw;
$db-primary-color: #00fcff;
$db-card-color: fade-out(#031437, 0.5);

@mixin scrollbar($barWidth:8px, $barHeight:8px, $barColor:fade-out(#007aff, 0.7), $barBg: fade-out(#000, 0.8)) {
  &::-webkit-scrollbar {
    width: $barWidth;
    height: $barHeight;
    background: $barBg;
  }

  &::-webkit-scrollbar-thumb {
    margin: 3px;
    background: $barColor;
    border-radius: 8px;
  }
}

@mixin linear-text($s-color, $e-color, $dir:180deg) {
  @supports (-webkit-background-clip: text) {
    background: linear-gradient($dir, $s-color, $e-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin borders-card($border-width:3px, $size:16*$vw, $color:$db-primary-color, $bg:fade-out(#08245e, 0.5), $border-color: #007aff) {
  position: relative;
  box-shadow: 0 0 0 1px $border-color inset;
  background: $bg;

  &>.shapes {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &:before,
  &:after,
  &>.shapes:before,
  &>.shapes:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: $size;
    height: $size;
    border: solid 0px transparent;
  }

  &:before,
  &>.shapes:before {
    left: 0;
    border-left-color: $color;
    border-left-width: $border-width;
  }

  &:after,
  &>.shapes:after {
    right: 0;
    border-right-color: $color;
    border-right-width: $border-width;
  }

  &:before,
  &>.shapes:after {
    top: 0;
    border-top-color: $color;
    border-top-width: $border-width;
  }

  &:after,
  &>.shapes:before {
    bottom: 0;
    border-bottom-color: $color;
    border-bottom-width: $border-width;
  }
}
